<app-menubar></app-menubar>

<style>
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gap-2 > * + * {
    margin-top: 1.5rem;
  }

  p-floatLabel input {
    border: 1px solid lightblue;
    padding: 0.5rem;
    border-radius: 4px;
  }

  .btn-container {
    margin-top: 0.5rem;
  }
</style>

<div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="nome" [(ngModel)]="nome" />
      <label for="nome">Nome</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="descricao" [(ngModel)]="descricao" />
      <label for="descricao">Descrição</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="preco" [(ngModel)]="preco" />
      <label for="preco">Preço</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="quantidade" [(ngModel)]="quantidade" />
      <label for="quantidade">Quantidade</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="tipoProduto" [(ngModel)]="tipoProduto" />
      <label for="tipoProduto">Tipo do produto</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="imagem" [(ngModel)]="imagem" />
      <label for="imagem">Imagem</label>
    </p-floatLabel>
    <div class="btn-container">
      <p-button label="Cadastrar" [raised]="true" severity="success" (click)="salvarProduto()"></p-button>
    </div>
  </div>
</div>
