<style>
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gap-2>*+* {
    margin-top: 1.5rem;
  }

  p-floatLabel input {
    border: 1px solid lightblue;
    padding: 0.5rem;
    border-radius: 4px;
  }

  .btn-container {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
  }
</style>

<div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="nome" [(ngModel)]="nome" />
      <label for="nome">Nome</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="cpf" [(ngModel)]="cpf" />
      <label for="cpf">CPF</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="email" [(ngModel)]="email" />
      <label for="email">Email</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="email" [(ngModel)]="telefone" />
      <label for="email">Telefone</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="tipoUsuario" [(ngModel)]="tipoUsuario" />
      <label for="tipoUsuario">Tipo Usuario</label>
    </p-floatLabel>
    
    <p-floatLabel>
      <input type="password" pInputText id="senha" [(ngModel)]="senha" />
      <label for="senha">Senha</label>
    </p-floatLabel>
    <p-floatLabel>
      <input type="password" pInputText id="confirmarSenha" [(ngModel)]="confirmarSenha" />
      <label for="confirmarSenha">Confirmar Senha</label>
    </p-floatLabel>
    <div class="btn-container">
      <a routerLink="/login">
      <p-button label="Voltar" severity="contrast" />
      </a>
      <p-button label="Cadastrar" [raised]="true" severity="success" ></p-button>
    </div>
  </div>
</div>
