<div class="container">
@for (product of products; track product.id){
  <div class="card-wrapper">
    <p-card subheader="{{ product.tipoProduto }}" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img   class="imagem-produto"
          alt="{{ product.id }}"
          src="{{ product.foto }}"
        />
      </ng-template>
      <div class="card-content">
        <h3>{{ product.nome }}</h3>
        <p>{{ product.descricao }}</p>
        <h2 class="price">{{ product.preco }}</h2>
      </div>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center mt-1">
          <p-button
            label="Adicionar ao Carrinho"
            class="w-full"
            styleClass="w-full"
          ></p-button>
        </div>
      </ng-template>
    </p-card>

    <!-- Adicione mais cards aqui -->
  </div>
}
</div>