<app-menubar></app-menubar>

<!--<div class="container">
    @for (product of products; track product.id){
      <div class="card-wrapper">
        <p-card  [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img class="imagem-produto"
              alt="{{ product.id }}"
              src="{{ product.foto }}"
            />
          </ng-template>
          <div class="card-content">
            <h3>{{ product.nome }}</h3>
            <p>{{ product.descricao }}</p>
            <h2 class="price">R$ {{ product.preco }}</h2>
          </div>
          <ng-template pTemplate="footer">
            <div class="card-button">
                <p-button
                label="Alterar"
                class="w-full"
                styleClass="w-full"
                icon="pi pi-file-edit"
              ></p-button>
              <p-button
                label="Deletar"
                class="w-full"
                styleClass="w-full"
                icon="pi pi-trash"
                [outlined]="true"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    }
  </div>-->

  <div class="card">
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Products
                <p-button icon="pi pi-refresh" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Imagem</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Estoque</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.nome}}</td>
                <td>{{product.foto}}</td>
                <td>{{product.preco | currency:'BRL'}}</td>
                <td>{{product.tipoProduto}}</td>
                <td>{{product.quantidade}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                No total são {{products ? products.length : 0 }} produtos.
            </div>
        </ng-template>
    </p-table>
</div>
