<style>
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gap-2 > * + * {
    margin-top: 1.5rem;
  }

  p-floatLabel input {
    border: 1px solid lightblue;
    padding: 0.5rem;
    border-radius: 4px;
  }

  .btn-container {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
  }
</style>

<div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="email" [(ngModel)]="email" />
      <label for="email">Email</label>
    </p-floatLabel>
    <p-floatLabel>
      <input type="password" pInputText id="senha" [(ngModel)]="senha" />
      <label for="senha">Senha</label>
    </p-floatLabel>
    <div class="btn-container">
      <p-button
        label="Login"
        (click)="logar()"
        [raised]="true"
        severity="success"
      ></p-button>
      <a routerLink="/cadastroUsuario">
        <p-button
          label="Cadastrar"
          [raised]="true"
          severity="danger"
        ></p-button>
      </a>
    </div>
  </div>
</div>
