<app-menubar></app-menubar>



<!-- <div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="nome" [(ngModel)]="value.nome" />
      <label for="nome">Nome</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="descricao" [(ngModel)]="value.descricao" />
      <label for="descricao">Descrição</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="preco" [(ngModel)]="value.preco" />
      <label for="preco">Preço</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="quantidade" [(ngModel)]="value.quantidade" />
      <label for="quantidade">Quantidade</label>
    </p-floatLabel>
    <div class="btn-container">
      <p-button label="Cadastrar Produto" [raised]="true" severity="success" (click)="salvarProduto()"></p-button>
    </div>
  </div>
</div> -->
