<app-menubar-usuario></app-menubar-usuario>

<div class="container">
  @for (enderecos of enderecos; track enderecos.id){
    <div class="card-wrapper">
      <p-card [style]="{ width: '360px' }" header="Selecione um endereço">
        <ng-template pTemplate="header">
        </ng-template>
        <div class="card-content">
          <h3>CEP: <span class="highlight">{{ enderecos.cep }}</span></h3>
          <h3>Rua: <span class="highlight">{{ enderecos.rua }}</span></h3>
          <h3 class="cidade">Cidade: <span class="highlight">{{ enderecos.cidade }}</span></h3>
          <h3 class="bairro">Bairro: <span class="highlight">{{ enderecos.bairro }}</span></h3>
          <h3 class="complemento">Complemento: <span class="highlight">{{ enderecos.complemento }}</span></h3>
          <h3 class="uf">UF: <span class="highlight">{{ enderecos.uf }}</span></h3>
        </div>
        <ng-template pTemplate="footer">
          <div class="card-button">
            <p-button
              label="Excluir"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-trash"
              [outlined]="true"
            ></p-button>
            <p-button
              label="Selecionar endereço"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-check"
              (onClick)="irParaResumo(enderecos)"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  }
</div>

<div class="button-container">
  <p-button icon="pi pi-undo" label="Voltar" [raised]="true" severity="secondary" [outlined]="true" (onClick)="voltarCarrinho()"></p-button>
  <p-button icon="pi pi-plus" label="Cadastrar endereço" [raised]="true" severity="secondary" (onClick)="irParaCadastroEndereco()"></p-button>
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-wrapper {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .card-content {
    text-align: left;
  }

  .card-button {
    display: flex;
    justify-content: center;
  }


  .highlight {
    color: #9b6dd6; 
  }
</style>
