<app-menubar-usuario></app-menubar-usuario>

<!-- <div class="card xl:flex xl:justify-content-center">
    <p-orderList 
        [value]="itensCarrinho" 
        [listStyle]="{ height: '25rem' }" 
        header="Lista dos produtos">
            <ng-template let-item pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    <img 
                        src="{ item.foto }" 
                        [alt]="item.nome" 
                        class="w-4rem shadow-2 flex-shrink-0 border-round" />
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ item.nome }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>
                                        {{ item.descricao }}
                                    </span>
                                </div>
                            </div>
                    <span class="font-bold text-900">
                        {{ '$' + item.precoTotal }}
                    </span>
                </div>
            </ng-template>
    </p-orderList>
</div> -->
<div class="page-container">
  <div class="card-wrapper">
   
    <p-card let="enderecos" header="Endereço selecionado:"  [style]="{ width: '360px' }">
      <div class="card-content">
        <h3>CEP: <span class="highlight">{{ enderecos.cep }}</span></h3>
        <h3>Rua: <span class="highlight">{{ enderecos.rua }}</span></h3>
        <h3 class="cidade">Cidade: <span class="highlight">{{ enderecos.cidade }}</span></h3>
        <h3 class="bairro">Bairro: <span class="highlight">{{ enderecos.bairro }}</span></h3>
        <h3 class="complemento">Complemento: <span class="highlight">{{ enderecos.complemento }}</span></h3>
        <h3 class="uf">UF: <span class="highlight">{{ enderecos.uf }}</span></h3>
      </div>
      <ng-template pTemplate="footer">
        <div class="button-group">
          <p-button label="Alterar endereço" severity="secondary" class="w-full" styleClass="w-full" icon="pi pi-file-edit" (click)="alterarEndereco()"/>
        </div>
      </ng-template>
    </p-card>
  
  </div>

    <div let="total"class="card-wrapper right-card">
      <p-card header="Detalhes do pedido" subheader="" [style]="{ width: '360px' }">
        <h3>Preço total: R$<span class="preco-total"> {{total}}</span></h3>
        <ng-template pTemplate="footer">
          <div class="button-group">
            <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" icon="pi pi-trash" />
            <p-button label="Finalizar compra" class="w-full" styleClass="w-full" icon="pi pi-shopping-cart" (click)="fazerPedido()" />
          </div>
        </ng-template>
      </p-card>
    </div>
  
</div>
